<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartShine</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/admin}">Админ</a></li>
                <li><a th:href="@{/manager}">Менеджер</a></li>
                <li><a th:href="@{/employee}">Сотрудник</a></li>
                <li><a th:href="@{/logout}">Выйти</a></li>
            </ul>
        </nav>
    </header>

    <main th:replace="~{::section}">Контент</main>
</body>
</html>
