<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::body})}">
<div layout:fragment="body">
    <div class="container">
        <h1>Список задач</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Описание</th>
                    <th>Дата</th>
                    <th>Время начала</th>
                    <th>Время окончания</th>
                    <th>Сотрудник</th>
                    <th>Клиент</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.date}"></td>
                    <td th:text="${task.timeStart}"></td>
                    <td th:text="${task.timeEnd}"></td>
                    <td th:text="${task.assignedEmployee.firstName}"></td>
                    <td th:text="${task.client.name}"></td>
                    <td th:text="${task.completed ? '✔ Выполнено' : '⏳ В процессе'}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</html>